$lightgrey: #4E5662;
$lightgreyblue: #8497B4;
$darknavyblue: #131820;
$softwhite: #F6EEE3;
$white: #FAF7F4;
$redwine: #3A1B21;
$transparent: rgba(255, 255, 255, 0.0);


// ========== SPLASH ==========
.splash-wrapper {
  background: url('imgs/header-splash.png') no-repeat;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
